.screen-container {
  text-align: center;
  padding: 10px 0;
  font-family: var(--font-primary);
  font-size: 16px;
}

.button-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  flex-wrap: nowrap;
  min-height: 104px;
}

.tab-button {
  width: 250px;
  height: 87px;
  border-radius: 20px 20px 0 0;
  border: 1px solid #E2E8F0;
  border-bottom: none;
  background: #FFF;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
}

.tab-button:focus,
.tab-button.active {
  border-bottom: none;
  box-shadow: 0px -7px 0px 0px rgba(44, 122, 123, 1),
              0px 5px 0px 0px rgba(255, 255, 255, 1);
  z-index: 21;
}

/* Aktif butonu birkaç piksel aşağı kaydır */
/* .tab-button.active {
  transform: translateY(2px);
} */

.content {
  padding: 20px;
  border: 1px solid #ddd;
  border-left: none;
  border-right: none;
  min-height: 900px;
  text-align: left;
  position: relative;
  z-index: 0;
}

.tab-content {
  padding: 20px;
}
