.screen-container {
  text-align: center;
  padding: 10px 0px;
  font-family: var(--font-primary);
  font-size: 16px;

}

.button-container {
  display: flex;
  justify-content: space-evenly;
  
}

.tab-button {
  flex: 1;
  border-radius: 20px 20px 0px 0px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border: 1px solid #E2E8F0;
  width: 100px;
  height: 100px;
  text-align: left;
  margin-left: 35px;
  
}

.tab-button:hover {
  background-color: gray;
}

.tab-button::after {
  border-color: #2C7A7B;
  border-top: 2px;
  border-radius: 50px 50px 0px 0px;
  border-bottom: none;
  border-left: none;
}

.tab-button.active {
  background-color: #2C7A7B;
  height: 12px;
}

.tab-button:focus {
  outline: none; /* Tarayıcı varsayılan outline'ını kaldırır */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Yeni bir mavi gölge ekler */
}

.content {
  padding: 20px;
  border: 1px solid #ddd;
  min-height: 200px;
  background-color: #f9f9f9;
  text-align: left;
}

.tab-content {
  padding: 20px;
}
