/* Google Fonts - Montserrat */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

@keyframes infinity-motion {
  0% {
    transform: translateX(0px) translateY(0px);
  }
  25% {
    transform: translateX(40px) translateY(-20px);
  }
  50% {
    transform: translateX(0px) translateY(20px);
  }
  75% {
    transform: translateX(-40px) translateY(-20px);
  }
  100% {
    transform: translateX(0px) translateY(0px);
  }
}

:root {
  /* Font */
  --font-primary: 'Montserrat', sans-serif;

  /* Genel Arka Plan Renkleri */
  --background-light: #FFFFFF;
  --background-gray: #F7FAFC;
  --background-dark: #2D3748;

  /* Ana Renkler */
  --primary-color: #2C7A7B; /* Ana renk */
  --secondary-color: #319795; /* Vurgu rengi */
  --accent-color: #38A169; /* Başarı ve onay tonu */

  /* Metin Renkleri */
  --text-dark: #2D3748;
  --text-medium: #4A5568;
  --text-light: #A0AEC0;

  /* Kenar Çizgileri */
  --border-light: #CBD5E0;
  --border-medium: #A0AEC0;
  --border-dark: #2D3748;

  /* Hover ve Etkileşim Renkleri */
  --hover-light: #E6F2F5;
  --hover-dark: #319795;

  /* Durum Renkleri */
  --success-color: #38A169; /* Başarı rengi (Yeşil) */
  --warning-color: #F6AD55; /* Uyarı rengi (Turuncu) */
  --error-color: #E53E3E; /* Hata ve kritik durum rengi (Kırmızı) */

  /* Pie Chart İçin Renkler */
  --pie-critical: #E53E3E; /* Kırmızı (0-100) */
  --pie-warning: #F6AD55; /* Turuncu (100-200) */
  --pie-healthy: #38A169; /* Yeşil (200-1000) */

  /* Buton Renkleri */
  --button-primary-bg: #2C7A7B;
  --button-primary-text: #FFFFFF;
  --button-hover-bg: #276749;
  --button-hover-text: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
  overflow-x: hidden;
  width: 100vw;
}
body{
  padding-top: 150px;
}

.Anasayfa {
    background: var(--background-light);
    font-family: var(--font-primary); 
    height: 500vh;  
}
/*=========================== PART 1 ================================*/
.part1{
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  gap: 200px;
}

.ilkbaslik{
  flex: 1;
  margin-left: 280px;
}
.ilkbaslik h3{
  display: flex;
  width: 328px;
  height: 41px;
  margin-top: 40px;
  padding: 0px 14px 0px 15px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 10px;
  background: #000;
  color: var(--button-primary-text);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ilkbaslik h1{
  margin-top: 25px;
  flex-direction: column;
  width: 763px;
  color: #000;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.ilkbaslik h4{
  flex-direction: column;
  margin-top: 25px;
  width: 536px;
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ilkbaslik h4 .light-text{
  font-weight: 500;
}

.ilkbaslik .risk-container {
  color: #000;
  margin-top: 20px;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  margin-left: 20px;
}

.ilkbaslik .risk-list{
  list-style-type: disc;
}
.ilkbaslik .more-info{
  margin-left: -20px;
  font-weight: bold;
}

.part1 .anasayfa-img {
  margin-top: -40px;
  flex: 1;
  width: 833px;
  height: auto;
  object-fit: cover;
  clip-path: inset(9% 0 9% 0);
  animation: infinity-motion 10s infinite ease-in-out;
  transition: transform 0.3s ease-in-out;
}

.part1 .anasayfa-img:hover {
  transform: scale(1.05);
  animation-play-state: paused;
}

.part1 .ilkbaslik .paket-button{
  margin-top: 20px;
  cursor: pointer;
  width: 190px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: var(--button-primary-bg);
  color: var(--button-hover-text);
  font-family: var(--font-primary);
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  
  border: none;
}

.part1 .ilkbaslik .paket-button .button-img{
  width: 28px;
  height: 28px;
  
}
/*=========================== PART 2 ================================*/
.part2{
    background-color: var(--hover-light);
    padding: 22px 0;
}
.part2 h2{
  margin-top: 80px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-shrink: 0;
  color: #000;
  text-align: center;
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.part2 h1{
  color: var(--button-primary-bg);
  text-align: center;
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 90px;
}

.part2 .all-cards {
  margin-left: auto;
  margin-right: auto;
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  max-width: 1400px;
  gap: 70px;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.part2 .all-cards .bold-text{
  font-weight: 700;
}

/*=========================== PART 3 ================================*/

.part3 .baslik{
  margin-top: 90px;
  color: #000;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.flag-container {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}